<h1>Recent moos</h1>

<% @moos.each do |moo| %>
<div class="panel panel-default">
  <div class="panel-body">
    <%= moo.context %>
  </div>
  <div class="panel-footer"> sent by <b> <%= moo.user.email %> </b> on <%= moo.created_at.strftime("%b %d, %Y %T") %></div>
</div>

<% end %>
<br>

<%= link_to 'New Moo', new_moo_path %>
